

body {
	background-color: #1E1E1E;
	margin: 0px;
}

h1, h2, p {
	margin: 0px;
	padding: 0px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	/*font-size: 36px;*/
	/*line-height: 44px;*/
}

.content-wrapper {
	display:flex;
	flex-direction: column;
}


.header-text {
	display:flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 25px;
}

.header-text > h1, h2 {
	color: #05E200;
	text-align: center;
	margin-bottom: 3px;
}

.header-text > h1 {
	font-size: 48px;
}

.header-text > h2 {
	font-size: 36px;
}

.header-text > p {
	text-align: center;
	font-size: 20px;
	color: #FFFFFF;
}

.live-data {
	display: flex;
	flex-direction: row;
	width: 30%;
	justify-content: space-between;
	align-self: center;
}


.data-summary {
	display: flex;
	flex-direction: column;
	padding-left: 15px;
	padding-right: 15px;
	width: 50%;
}


.white-bar {
	height: 45px;
	background-color: #D9D9D9;
	width: 100%;
	margin-top: 25px;
	margin-bottom: 25px;

}

.more-data {
	display: flex;
	flex-direction: row;
}




.chart {
	margin-top: 15px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;

}

.chart > h1 {
	text-align: center;
	color: #FFFFFF;
}



.user-actions {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.actions-wrapper {
	display: flex;
	flex-direction: column;
	margin-bottom: 75px;
}

.actions-wrapper > h1 {
	color: white;
	font-size: 40px;
	text-align: center;
	margin-bottom: 5px;
}

.table-style {
	width: 100%;
	font-size: 24px;
	color: #bfbdbd;
	text-align: center;
	table-layout: fixed;
	border-spacing: 0px 5px;
}

th {
	color: white;
}

td {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
}




.cards-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.card {
	background-color: #858585;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	height: 125px;
}

.card-2 {
	width: 45%;
}

.card-3 {
	width: 30%;
}

.card > h1 {
	color: #000000;
	font-size: 30px;
	text-align: center;
	margin-bottom: 10px;
}

.card > h2 {
	color: #05E200;
	font-size: 36px;
	text-align: center;
	align-self: center;
}



@media only screen and (max-width: 1200px) {
	.more-data {
		flex-direction: column;
	}
	.data-summary {
		justify-content: center;
		width: 95%;
	}

	.user-actions {
		justify-content: center;
		width: 95%;
	}

	.live-data {
		width: 50%;
	}
}

@media only screen and (max-width: 800px) {
	.card > h1 {
		font-size: 30px;
	}

	.card > h2 {
		font-size: 36px;
	}

	.live-data {
		width: 60%;
	}
}

@media only screen and (max-width: 500px) {
	.header-text > h1 {
		font-size: 36px;
	}

	.header-text > h2 {
		font-size: 24px;
	}

	.header-text > p {
		text-align: center;
		font-size: 18px;
		color: #FFFFFF;
	}

	.card > h1 {
		font-size: 24px;
	}

	.card > h2 {
		font-size: 28px;
	}
}








.loading {
	display: flex;
	justify-content: center;
}

.failure {
	display: flex;
	justify-content: center;
}

.failure > h1 {
	color: red;
	font-size: 36px;
	text-align: center;
}



.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #05E200;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
