@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700;900&display=swap');
body {
	background-color: #BFBFBF;
	padding: 0px;
	margin: 0px;
	font-family: 'Inter';
	display:flex;
	flex-direction: row;
}


h1, p, li, input, textarea, a {
	margin: 0px;
	padding: 0px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	text-decoration: none;
}

input, textarea {
	border: none;
	background-color: #D9D9D9;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	font-size: 18px;
	padding-left: 15px;
}

button {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;

}


@media only screen and (max-width: 600px) {
  .description-text {
    font-size: 5px;	
  }
}

@media only screen and (max-width: 925px) {
  .description-text {
    font-size: 14px;	
  }
}

@media only screen and (max-width: 800px) {
  .description-text {
    font-size: 12px;	
  }
}


/*SIDE/TOP BAR STYLES START*/
.sidebar {
	position:fixed;
	width: 280px;
	height: 100vh;
	background-color: #18161E;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	left: -280px;
	transition: left 0.25s; /* BYO prefixes */
	z-index: 999;
}

.topbar {
	position:fixed;
	width:100vw;
	display:flex;
	height: 50px;
	top: -50px;
	background-color: #18161E;
	transition: top 0.25s; 
	align-items: center;
	padding-left: 15px;
	z-index: 999;
}

.topbar > img {
	width: 35px;
	height: 35px;
}

.topbar > img:hover {
	cursor: pointer;
}

@media only screen and (max-width: 1200px) {
	.topbar {
		top:0px;
	}
}

@media only screen and (min-width: 1200px) {
	.sidebar {
		left:0px;
	}
}



.sidebar-wrapper {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin-top: 35vh;
}

.sidebar-wrapper > img {
	width: 100px;
	height: 100px;
	align-self: center;
	margin-bottom: 25px;
	border-radius: 50%;
}

.sidebar-wrapper > p {
	color: #D8CECE;
	font-size: 24px;
	margin-bottom: 16px;
	text-align: center;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
}

.sidebar-wrapper > p:hover {
	color: #FFFFFF;
	cursor: pointer;
}


.sidebar-button-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 50px;
}

.sidebar-button-wrapper > a {
	width: 140px;
	height: 30px;
	background-color: #AC4800;
	border: none;

	color: #FFFFFF;
	text-align: center;
	padding: 0px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	vertical-align: middle;
	padding-top:10px;
}

.sidebar-button-wrapper > a:hover {
	cursor: pointer;
	background-color: #C25200;
}

.analytics-button {
	font-size: 20px;
	margin-bottom: 25px;
	text-decoration: underline;
	color:#C2CFFE;
}

@media only screen and (max-width: 500px) {
.sidebar-wrapper {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin-top: 10vh;
}
}
/*SIDE/TOP BAR STYLES END*/

.content-wrapper {
	margin-left: 280px;
	transition: margin-left 0.25s;
	width: 100vw;
	/*width: 100%;*/
}

@media only screen and (max-width: 1200px) {
  .content-wrapper {
    margin-left: 0px;	
  }
}

.content-section {
	display: flex;
	height: 100vh;
	width: 100%;
	/*background-color: white;*/
}

/*HERO SECTION START*/
.hero-section-background {
	background-image: url("background/background-image-4.jpg") ;
	background-size: cover;
  	box-shadow:inset 0 0 0 2000px rgba(191, 191, 191, 0.45);
  	background-position: right bottom;



}
.hero-section-wrapper {
	display:flex;
	flex-direction: column;
	margin-left: 5%;
	margin-top: 10%;
}

.hero-section-wrapper > h1 {
	color: #000000;

	font-style: normal;
	font-weight: 700;
	font-size: 125px;
}

.hero-section-wrapper > p {
	color: #AF4A00;

	font-style: normal;
	font-weight: 700;
	font-size: 80px;
}

@media only screen and (max-width: 1500px) {
  .hero-section-wrapper {
    margin-left: 15%;
    margin-top: 20%;
  }
    .hero-section-wrapper > p {
    font-size: 35px;
  }
  .hero-section-wrapper > h1 {
    font-size: 64px;
  }
}


@media only screen and (max-width: 1250px) {
  .hero-section-wrapper {
    margin-left: 3%;
  }
}

@media only screen and (max-width: 650px) {
  .hero-section-wrapper > p {
    font-size: 35px;
  }
  .hero-section-wrapper > h1 {
    font-size: 64px;
  }
}


@media only screen and (max-width: 500px) {
  .hero-section-wrapper > p {
    font-size: 30px;
  }
  .hero-section-wrapper > h1 {
    font-size: 45px;
  }
}

@media only screen and (max-width: 300px) {
  .hero-section-wrapper > p {
    font-size: 25px;
  }
  .hero-section-wrapper > h1 {
    font-size: 30px;
  }
}
/*HERO SECTION END*/


/*Experience section START*/
.experience-section {
	min-height: 1350px;
	max-height: 1700px

}
.experience-section-wrapper {
	display:flex;
	flex-direction: column;
	margin-left: 30px;
	margin-top: 0px;
	padding-right: 100px;
	width: 100%;
	padding-left: 75px;

	justify-content: center;
}

.experience-section-wrapper > h1  {
	text-align: center;
	color: #000000;
	font-style: normal;
	font-weight: 700;
	/*font-size: 45px;*/
	font-size: 65px;
	margin-bottom: 5px;
}

.experience-section-wrapper > p  {
	text-align: center;
	margin-bottom: 2px;
	font-size: 36px;

	color: #000000;
	font-style: normal;
	font-weight: 700;
	/*font-size: 36px;*/
}

.experience-section-spacer {
	margin-bottom: 25px;
}

.experience-section-card {
	align-self: center;
	margin-right: 100px;
	margin-bottom: 25px;
	width: 100%;
	max-width: 1650px;
	height: 1000px;
	background-color: #D9D9D9;
	display: flex;
	flex-direction: row;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	padding-bottom: 25px;

}

.experience-section-card-info {
	display:flex;
	flex-direction: column;
	width: 50%;
	padding-left: 20px;
	padding-top: 10px;
}

.experience-section-card-info > h1 {
	/*font-size: 36px;*/
	font-size: 45px;
}

.experience-section-card-info-summary {
	color: #262626;
	font-size: 24px;
	line-height: 30px
}

.experience-section-card-info > ul {
	font-size: 24px;
	margin: 0px;
	margin-top: 10px;
	margin-left: 0px;
	padding-left: 25px;
}

.experience-section-card-info > ul > li {
	color: #262626;
	margin-bottom: 10px;
	width: 90%;
}

.experience-section-card-info-subheader {
	/*font-size: 20px;*/
	font-size: 30px;
	color: #CC3100;
	margin-bottom: 5px;
}

.experience-section-card-skills {
	display:flex;
	flex-direction: column;
	width: 60%;
}

.experience-section-card-skills > h1 {
	margin-top: 30px;
	text-align: center;
	font-size: 36px;
}

.experience-section-card-skills-column-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-right: 100px;
	padding-left: 100px;
}

.experience-section-card-skills-column {
	margin-top: 10px;
	width: 50%;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.experience-section-card-skills-column > p {
	margin-top: 5px;
	/*font-size: 16px;*/
	font-size: 24px;
	color: #262626;
}

@media only screen and (max-width: 2010px) {
	.experience-section-wrapper {
		margin-left: 0px;
		padding-right: 0px;
	}
}

@media only screen and (max-width: 2000px) {
	.experience-section-card-skills > h1 {
		font-size: 30px;
	}

	.experience-section-card-skills-column > p {
		font-size: 20px;
	}

	.experience-section-card-info-summary {
		font-size: 20px;
	}

	.experience-section-card-info > ul {
		font-size: 20px;
	}
}

@media only screen and (max-width: 1700px) {
	.experience-section-card-skills > h1 {
		font-size: 30px;
	}

	.experience-section-card-skills-column > p {
		font-size: 20px;
	}

	.experience-section-card-info-summary {
		font-size: 20px;
	}

	.experience-section-card-info > ul {
		font-size: 20px;
	}
}

@media only screen and (max-width: 1500px) { 
	.experience-section {
		min-height: 1750px;
	}

	.experience-section-card-info-subheader {
		font-size: 24px;
	}

	.experience-section-card-info > h1 {
		font-size: 36px;
	}

	.experience-section-wrapper > p {
		font-size: 33px;
	}
}


@media only screen and (max-width: 990px) {
	.experience-section-card-skills-column-wrapper {
		padding-right: 10px;
		padding-left: 10px;
	}
	.experience-section-card-info > ul > li {
		width: 90%;
	}
	.experience-section-wrapper > p {
		font-size: 30px;
	}
	.experience-section-wrapper {
		padding-right: 20px;
		padding-left: 0px;
	}
	.experience-section-card {
		flex-direction: column;
		margin-left:0px;
		margin-right: 0px;
		margin-bottom: 25px;
	}
	.experience-section-card-info {
		width: 100%;
	}
	.experience-section-card-info-summary {
		width:95%;
	}
	.experience-section-card-skills {
		width: 100%;
	}
	.experience-section {
		height: 150vh;
	}

	.experience-section-card-skills > h1 {
		font-size: 24px;
	}

	.experience-section-card-skills-column > p {
		font-size: 18px;
	}

	.experience-section-card-info-summary {
		font-size: 18px;
	}

	.experience-section-card-info > ul {
		font-size: 18px;
	}
}

@media only screen and (max-width: 750px) {
	.experience-section-wrapper {
		padding-right: 20px;
		padding-left: 0px;
	}
	.experience-section-card {
		flex-direction: column;
		margin-left:0px;
		margin-right: 0px;
		margin-bottom: 25px;
	}
	.experience-section-card-info {
		width: 95%;
	}
	.experience-section-card-info-summary {
		width:95%;
	}
	.experience-section-card-skills {
		width: 100%;
	}
	.experience-section {
		height: 150vh;
	}
}

@media only screen and (max-width: 500px) { 
	.experience-section {
		min-height: 2050px;
	}

	.experience-section-card-info {
		width: 90%;
	}

	.experience-section-wrapper {
		margin-top: 75px;
		margin-bottom: 75px;
		padding-right: 0px;
		padding-left: 0px;
	}

	.experience-section-wrapper > h1 {
		font-size: 35px;
	}

	.experience-section-wrapper > p {
		font-size: 16px;
	}
}
/*Experience section END*/

/*Projects section START*/
.project-section {
	height: min-content;
	margin-bottom: 150px;

}

.project-section-wrapper {
	display:flex;
	flex-direction: column;
	margin-left: 30px;
	margin-top: 15px;
	padding-right: 5px;
	width: 100%;
	margin-left: 30px;
	padding-right: 100px;
}

.project-section-wrapper > h1 {
	text-align: center;
	font-size: 48px;
	margin-bottom: 25px;
}

.project-section-content-flex-wrapper {
	display:flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	padding: 3px;
	padding: 3px;
}

.project-section-card {
	margin-bottom: 50px;
	margin-right: 50px;
	/*margin-left: 25px;*/
	max-width: 790px;
	min-width: 790px;
	height: 400px;
	background-color: #D9D9D9;
	display: flex;
	flex-direction: column;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.project-section-card-primary-content {
	display: flex;
	flex-direction: column;
}

.project-section-card > h1 {
	font-size: 28px;
	text-align: center;
	padding-top: 20px;
	margin-bottom: 5px;
}

.project-section-card-primary-content > p {
	font-size: 20px;
	text-align: center;
	padding-top: 20px;
	padding-right: 50px;
	padding-left: 50px;
	/*margin-bottom: 5px;*/
}

.project-section-card-image-wrapper {
	display:flex;
	justify-content: center;

}

.project-section-card-image-wrapper > img {
	width:265px;
	height: 171px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.project-section-card-buttons-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 100%
}

.project-section-card-button-wrapper {
	display:flex;
	align-items: flex-end;
	margin-bottom: 25px;

}
/**/
.project-section-card-button-wrapper > a {
	font-size: 17px;
	margin-right: 10px;
	margin-left: 10px;
	color: #FFFFFF;
	background-color: #084099;
	border: none;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 150px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	/*filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));*/
}

.project-section-card-button-wrapper > a:hover {
	background-color: #084099;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	cursor: pointer;
}

.project-section-card-icon {
	width: 25px;
	height: 25px;
	margin: 0px;
	position: absolute;
	right: 10px;
	top: 10px;
	color: #AC4800;
}

.project-section-card-icon:hover {
	cursor: pointer;
}

.project-section-card-content-secondary {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.project-section-card-content-secondary > h1 {
	font-size: 24px;
	text-align: center;
	margin-bottom: 5px;
}

.project-section-card-content-secondary-column-wrapper {
	display: flex;
	flex-direction: row;
}

.project-section-card-content-secondary-column {
	display: flex;
	flex-direction: column;
	padding-right: 5px;
	padding-left: 5px;
	width: 50%;
	justify-content: center;
}

.project-section-card-content-secondary-column > p {
	text-align: center;
	font-size: 18px;
}

@media only screen and (max-width: 300px) {
	.project-section-card-image-wrapper > img {
		width:132px;
		height: 85px;
	}




}


@media only screen and (max-width: 2150px) {
	.project-section-wrapper {
		margin-left: 0px;
		padding-right: 0px;
	}

	.project-section-card {
		width:45%;
		min-width: 0px;
	}
}


@media only screen and (max-width: 1800px) {
	.project-section-card {
		width:45%;
	}
	.project-section-card-primary-content > p{
		font-size: 18px;
	}

	.project-section-card-button-wrapper > a {
		font-size: 18px;
		width: 125px;
	}
}

@media only screen and (max-width: 1500px) {
	.project-section-card {
		width:42%;
	}
	.project-section-card-primary-content > p{
		font-size: 15px;
	}

	.project-section-card-button-wrapper > a {
		font-size: 14px;
		width: 100px;
	}
}


@media only screen and (max-width: 1200px) {
	.project-section-card {
		width: 100%;
		margin-right: 0px;
	}

	.project-section-card-primary-content > p{
		font-size: 18px;
	}

	.project-section-card-button-wrapper > a {
		font-size: 18px;
		width: 150px;
	}
}

@media only screen and (max-width: 600px) {
	.project-section-card {
		width: 100%;
		height: 450px;
	}

	.project-section-card-primary-content > p{
		font-size: 14px;
	}

	.project-section-card-button-wrapper {
		flex-wrap: wrap;
	}

	.project-section-card-button-wrapper > a {
		font-size: 14px;
		width: 100px;
	}

	.project-section-card-primary-content > p{
		padding-left: 0px;
		padding-right: 0px;
	}
}



/*Projects section END*/

/*Contact section START*/

.content-section-contacting {
	height: 50vh;
	min-height: 800px;
}

.contact-section-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 100%;
	height: 100%;
}


.contact-section-wrapper-content {
	display:flex;
	flex-direction: row;
	align-self: center;
	height: 100%;
	width: 75%;
}

.contact-section-wrapper-footer {
	height: 40px;
	width: 100%;
	background-color: #6B6B6B;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.contact-section-wrapper-footer > p {
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 20px;

}


.contact-section-header {
	display:flex;
	justify-content: center;
	align-items: center;
	width: 40%;
}

.contact-section-header > h1 {
	font-size: 70px;
}

.contact-section-header > h1 > span {
	font-size: 140px;
}


.contact-section-forum {
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact-section-forum-subject {
	display: flex;
	flex-direction: column;
	width: 85%;
	margin-bottom: 15px
}

.contact-section-forum-subject > p {
	font-size: 20px;
	margin-bottom: 3px;
}

.contact-section-forum-subject > input {
	height: 50px;
}

.contact-section-forum-subject > input:focus {
	height: 50px;
	border: none;
}

.contact-section-forum-subject-message {
	display: flex;
	flex-direction: column;
	width: 85%;
	margin-bottom: 15px;
}

.contact-section-forum-subject-message > p {
	font-size: 20px;
	margin-bottom: 3px;
}

.contact-section-forum-subject-message > textarea {
	height: 170px;
	resize: none;
	padding-top: 5px;
}

.contact-forum-email {
	display: flex;
	flex-direction: column;
	width: 85%;
}

.contact-forum-email > p{
	font-size: 20px;
	margin-bottom: 3px;
}

.contact-forum-email-subrow {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.contact-forum-email-subrow > input {
	width: 70%;
	margin-right: 50px;
	height: 50px;

}

.contact-forum-email-subrow > button {
	width: 30%;
	background-color: #AC4800;
	border: none;

	color: #FFFFFF;
	text-align: center;
	padding: 0px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 22px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.contact-forum-email-subrow > button:hover {
	cursor: pointer;
	background-color: #C25200;
}

.contact-links {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 35px;

}

.contact-links > a > img {
	width: 60px;
	height: 60px;
	margin-right: 15px;
	margin-left: 15px;
}

.contact-links > a > img:hover{
	cursor: pointer;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.contact-figma-cta {
	display: all;
}

.contact-madewith {
	display: all;
}

.contact-email {
	display: all;
}

.contact-email-string {
	margin-top: 15px;
}

.form-error-message {
	margin-top: 15px;
}

.form-error-message > p{
	color:#c42931;
}

.form-success-message {
	margin-top: 15px;
}

.form-success-message > p {
	color: #027521;
}

@media only screen and (max-width: 1500px) {
	.content-section-contacting {
		height: 80vh;
	}
}

@media only screen and (max-width: 1405px) {
	.contact-section-wrapper-content {
		flex-direction: column;
		width: 100%;
	}

	.contact-section-header {
		width: 100%;
		justify-content: center;
		margin-bottom: 50px;
	}

	.contact-section-forum {
		justify-content: center;
		width: 100%;
	}
	.contact-section-forum-subject {
		width: 70%;
	}

	.contact-section-forum-subject-message {
		width: 70%;
	}

	.contact-forum-email {
		width: 70%;
	}
}


@media only screen and (max-width: 1405px) {
	.contact-section-forum {
		justify-content: center;
		width: 100%;
	}
	.contact-section-forum-subject {
		width: 85%;
	}

	.contact-section-forum-subject-message {
		width: 85%;
	}

	.contact-forum-email {
		width: 85%;
	}
}

@media only screen and (max-width: 1000px) {
	.contact-madewith {
		display:none;
	}
}

@media only screen and (max-width: 500px) {
	.content-section-contacting {
		min-height: 1000px
	}
}

@media only screen and (max-width: 750px) {

	.contact-section-wrapper-footer {
		justify-content: center;
	}

	.contact-figma-cta {
		display:none;
	}
}

/*Contact section END*/
